[Unit]
Description=Gunicorn instance to serve api zvolta
After=network.target

[Service]
User=root
Group=www-data

WorkingDirectory=/home/gateway
Environment="PATH=/home/gateway/env/bin"
ExecStart=/home/gateway/env/bin/gunicorn --config gunicorn.conf.py wsgi:app

[Install]
WantedBy=multi-user.target
